{% load static %}

<html>
    <head>
        <title>Roger Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
       <div class="page-header" style="background-image: url('static/header.jpg')" >
            <h1><a href="/">Roger Blog</a></h1>
            {% if user.is_authenticated %}
                <a href ="{% url 'post_new' %}" title="Click to add new Blog" data-rapid_p="1"  class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
            <a href ="{% url 'subscription_subs' %}" title="Click to subscribe!" data-rapid_p="1" class="top-menu"><span class="glyphicon glyphicon-bell"></span></a>
       </div>
       <section style="margin-bottom: 50px;" class="map">  
           {% block map %}
           {% endblock %}
       </section>
       <div class="content container">
           <div class="row">
                <div class="col-md-8">
                   {% block content %}
                   {% endblock %}
                </div>
                <div class="Col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-cs-12
                sidebar-container">
                    {% block sidebar %}
                    {% endblock %}
                </div>
                <!-- Pager 
                <div class="Pager">
                    {% block pager %}
                    {% endblock %}
                </div> -->
           </div>
       </div>
       <footer>
           {% block footer %}
           {% endblock %}
       </footer>
        
    </body>
    
</html>

