{% load static %}
<html>
    <head> 
        <title>Roger Blog Events</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Rajdhani|Tajawal&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet"></head>
    <body>
        <div class="page-header" style="margin-bottom: 0;background-image: url('../../static/header.jpg')" >
            <h1><a href="/">Roger Blog</a></h1>
            {% if user.is_authenticated %}
            <a href ="{% url 'event_new' %}" title="Click to add new Events" data-rapid_p="1"  class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            {% endif %}
        </div>
        <div class = "container">
            <div class = "row">
                <!-- Event List Container-->
                <section id ="primary" class="content_area wrap">
                    <header class="page-header">
                        <p style="color:#4d3108; font-family: 'Rubik Mono One', sans-serif; font-size: 36px;" class="title">Events List</p>
                    </header>
                    <main id="main" class="site-main" role="main">
                        {% for event in events %}
                        <div class="events">
                            <h1 style="font-family:'Rajdhani', sans-serif;">{{ event.event_title }}</h1>                                                  
                            <div style="display:inline-block; color: #828282;font-family: 'Tajawal', sans-serif;font-size:15px;" class="eventdate">
                                <div>Date:&nbsp;{{ event.event_date }}</div>
                            </div>
                            <div style="display: inline-block; margin-left: 10px; color: #828282;font-family: 'Tajawal', sans-serif;font-size:15px;" class="eventlocation">
                                <p>Location:&nbsp;{{ event.event_location }}</p>
                            </div>
                            <div style="color: #504f4f;font-family: 'Tajawal', sans-serif; font-size: 18px;" class="description">                                    
                                <p>{{ event.event_description }}</p>   
                            </div>               
                            <hr>
                            {% endfor %}
                        </div>
                    </main>
                </section>



            </div>
        </div>
    </body>
</html>