h1 a, h2 a{
    color : black;
    font-family: "Stylish", cursive;
}



h3 {
    font-family:'B612 Mono', monospace;
    color:#ccc;
    padding-top: 100px;
    padding-bottom:1em;
    font-size: 20px;
}

h4{
    font-family:'Montserrat', sans-serif;
    color:#828282;
    font-size: 15px;
    line-height: 25px;
}

body{
    padding-left: 15px;
}

.sidebar-container{
    padding-left: 150px;
}
.page-header {
    background-image: url('static/header.jpg');
    margin-top:0;
    padding: 20px 20px 37px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, page-header h1 a:active{
    color:#ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content{
    margin-left: 40px;
}


h1, h2 {
    font-family:'Stylish', cursive;
}

.date {
    color: #828282;
}

.save{
    float: right;
}

.post-form textarea, .post-form input{
    width:100%;
}

.top-menu, .top-menu:hover, .top-menu:visited{
    color:#ffffff;
    float:right;
    font-size: 26pt;
    margin-right: 20px;
}

.post{
    margin-bottom: 50px;
}

.post h2 a, .post h2 a:visited{
    color:#000000;
}

.preview{
    width:350px; 
    height:64px;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
}

.copyright{

    text-align: center;
}